body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #20354E !important;
}

.navbar {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0;
    height: 50px;
    background-color: #234357;
}

.navbar .navbar-header {
    width: 100%;
}

.navbar img {
    margin-left: -50px;
}

.navbar-brand span.heading {
    position: relative;
    left: 60px;
    top: -24px;
    color: #CADCFF;
    border-left: 1px solid #55768c;
    padding-left: 20px;
}

.navbar a {
    color: rgba(97, 97, 97, 1);
    letter-spacing: 0.05em;
    text-align: left;
    text-decoration: none;
    padding: 9px;
}

.navbar .initial {
    border: 1px solid rgba(244, 244, 244, 1);
    border-radius: 40px;
    background-color: #fff;
    float: right;
    height: 30px;
    margin: 10px 34px 0 0;
    width: 30px;
    padding: 4px 9px;
}

.no-padding {
    padding: 0;
}

.dashboardBody {
    position: relative;
    top: 50px;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #2f4760;
}

.header h3 {
    color: #CADCFF;
    text-align: left;
    letter-spacing: 0.04em;
    margin-top: 16px;
    margin-left: 7px;
}

.header p {
    font-size: 20px;
    color: #CADCFF;
    text-align: right;
    margin-right: 44px;
    letter-spacing: 0.06em;
    margin-top: 16px;
}

.statusOrder {
    padding-bottom: 38px;
    background-color: #213b58;
}

.statusOrder .border-bottom {
    border-bottom: 0.5px solid #6a7a8c;
}

.statusOrder .first {
    border-bottom: 0.5px solid #6a7a8c;
    margin-top: 30px;
    margin-bottom: 20px;
}

.statusOrder .intended p {
    font-size: 15px;
    color: #CADCFF;
}

.statusOrder .accpeted,
.intended,
.rejeted,
p {
    font-size: 16px;
    color: #CADCFF;
    text-align: center;
}

.statusOrder .intended,
.accpeted,
h6 {
    font-size: 30px;
    color: #CADCFF;
    text-align: left;
    font-weight: 400;
}

.statusOrder .rejected h6 {
    color: #E8655D;
    font-weight: 600;
}

.statusOrder span {
    font-size: 16px;
    color: #CADCFF;
    font-style: italic;
}

.statusOrder .primary {
    margin-bottom: 10px;
}

.statusOrder .primary p {
    font-size: 16px;
    color: #8CACCF;
    text-align: left;
    letter-spacing: 0.03em;
    margin-bottom: 2px;
    margin-bottom: 2px;
}

.statusOrder .primary h6 {
    font-size: 20px;
    font-weight: normal;
}

.statusOrder .secondary {
    margin-bottom: 30px;
}

.statusOrder .secondary p {
    font-size: 16px;
    color: #8CACCF;
    text-align: left;
    letter-spacing: 0.03em;
    margin-bottom: 2px;
}

.statusOrder .secondary h6 {
    font-size: 20px;
    font-weight: normal;
}

.statusOrder .gst p {
    font-size: 16px;
    color: #CADCFF;
    text-align: left;
    letter-spacing: 0.03em;
    margin-bottom: 2px;
}

.statusOrder .gst h6 {
    font-size: 30px;
    font-weight: normal;
}

.statusOrder .payable p {
    font-size: 16px;
    color: loghtgrey;
    text-align: left;
    letter-spacing: 0.03em;
    margin-bottom: 2px;
}

.statusOrder .payable h6 {
    color: lightsalmon;
    margin-bottom: 30px;
}

.chartStatus p {
    font-size: 16px;
    font-weight: 300;
}

.chartStatus .first {
    border-bottom: 0.5px solid #566f89;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 303px;
    margin-top: 33px
}

.chartStatus .arrived h6 {
    font-size: 30px;
    color: #F5A623;
}

.chartStatus .delivered {
    width: 200px;
    padding-left: 30px;
    text-align: center
}

.chartStatus .border-right {
    border-right: 0.5px solid #566f89;
    text-align: center
}

.chartStatus .weight .dot {
    height: 9px;
    width: 10px;
    background-color: #336ea1;
    border-radius: 10px/9px;
    margin: 0;
    float: left;
    margin-top: 6px;
    margin-right: 7px;
}

.chartStatus .volume .dot {
    height: 9px;
    width: 10px;
    background-color: #fff;
    border-radius: 10px/9px;
    margin: 0;
    float: left;
    margin-top: 6px;
    margin-right: 7px;
}

.dot {
    height: 9px;
    width: 10px;
    background-color: #53a8e2;
    border-radius: 10px/9px;
    margin: 0;
    float: left;
    margin-top: 6px;
    margin-right: 7px;
}

.delay {
    color: #CADCFF !important;
    font-size: 12px;
    width: 100px;
    margin-top: 70px;
    padding-left: 14px;
}

.delay .orderCount {
    margin-left: 17px;
    font-size: 14px;
}

.weight {
    font-size: 14px;
    color: #82a1c4;
    margin-right: -10px;
}

.volume {
    font-size: 14px;
    color: #82a1c4;
}


.delay .orderCount span {
    font-style: italic;
    font-family: proxima_nova_ltthin;
    font-size: 12px;
}

span.spanSecondary {
    font-style: normal;
    color: #CADCFF;
    font-family: proxima_nova_ltthin
}

.margin-top0 {
    margin-top: 0;
}

.margin-bottom8 {
    margin-bottom: -8px;
}

.margin1 {
    margin-top: 11px;
    margin-bottom: 2px;
}
